<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SCC</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Camera Usage Description</key>
	<string>Image Permission</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>Camera Usage Description</key>
		<string>Image Permission</string>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>Photo Library Usage Description</key>
		<string>Application need your permission to open your library</string>
		<key>Privacy - Camera Usage Description</key>
		<string>Application need your permission to open your library</string>
		<key>Privacy - Photo Library Usage Description</key>
		<string>Application need your permission to open your library</string>
		<key>Privacy — Camera Usage Description</key>
		<string>Totake awesome photo!</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Application need your permission to open your library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Application need your permission to open your library</string>
	<key>Photo Library Usage Description</key>
	<string>Application need your permission to open your library</string>
	<key>UIAppFonts</key>
	<array>
		<string>GrotesqueMT.otf</string>
		<string>RNS_Camelia.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
